PORT=4000

DB_SERVER=localhost\\SQLEXPRESS
DB_DATABASE=creative_printing
DB_USER=sa
DB_PASSWORD=password
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=8h
